/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.container {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto ;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.body-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.btn {
    min-width: 200px;
    padding: 10px 15px;
    height: 50px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: #DB2512;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    -webkit-transition: backgroung-color .2s ease;
    -o-transition: backgroung-color .2s ease;
    transition: backgroung-color .2s ease;
    cursor: pointer;
    outline: 0;
    border: 0;
}
.btn:hover {
    background-color: #dc311f;
}
/* header start */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.header-wrapper {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header-block {
    width: 20%;
}
.header-logo {
    display: inline-block;
}
.header-logo-img {
    height: 65px;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
}
.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-left: 135px;
}
.menu-item:not(:last-child) {
    margin-right: 20px;
}
.menu-btn {
    display: none;
    width: 40px;
    height: 40px;
    position: relative;
    border: none;
    outline: none;
    z-index:2;
    overflow: hidden;
    background-color: #DB2512;
    transition: background-color .2s ease ;
    -webkit-transition: background-color .2s ease ;
    -moz-transition: background-color .2s ease ;
    -ms-transition: background-color .2s ease ;
    -o-transition: background-color .2s ease ;
}
.menu-btn:hover {
    background-color: #dc311f;
}
.menu-btn span {
	width: 30px;
	height: 3px;
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translate(-50%, -50%);
	background-color: white;
	transition: transform .5s, opacity .5s, background-color .5s;
	-webkit-transition: transform .5s, opacity .5s, background-color .5s;
	-moz-transition: transform .5s, opacity .5s, background-color .5s;
	-ms-transition: transform .5s, opacity .5s, background-color .5s;
	-o-transition: transform .5s, opacity .5s, background-color .5s;
}

.header.open .menu-btn span:nth-child(1) {
    transform: translateY(0)  rotate(45deg);
    -webkit-transform: translateY(0)  rotate(45deg);
    -moz-transform: translateY(0)  rotate(45deg);
    -ms-transform: translateY(0)  rotate(45deg);
    -o-transform: translateY(0)  rotate(45deg);
}
.header.open .menu-btn span:nth-child(2) {
    opacity: 0;
}
.header.open .menu-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
}
.nav-link {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin-right: 35px;
    position: relative;
    text-decoration: none;
}
.nav-link:after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    content:'';
    opacity: 0;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}
.nav-link.active::after {
    opacity: 1;
}
.nav-link:hover:after {
    opacity: 1;
}
.nav-link :last-child {
    margin-right: 0;
}
.header-lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
}
.header-lang-link {
    margin-right: 8px;
    color: #B7B7B7;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
.header-lang-link:hover {
    color: #FFF;
}
.header-lang-link :last-child {
    margin-right: 0;
}
.header-lang-link.active{
    color: white;
}
/* header end */
/* Intro start */
.intro {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.intro:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .2;
    content: '';
}
.intro-content {
    height: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 2;
}
.intro-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.intro-title {
    max-width: 790px;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    line-height: 1.5;
    display: inline;
    text-transform: uppercase;
}
/* Intro end */
.section {
    margin-top: 100px;
}
/* Info start */
.info {
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -10px;
}
.block {
    width: 33.33%;
    padding: 0 10px;
}
.text-upper {
    text-transform: uppercase;
}
.info-item {
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    padding: 40px 40px 30px;
}
.info-img {
    margin-bottom: 20px;
}
.info-img img {
    height: 30px;
}
.info-title {
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.info-txt {
    color: #B7B7B7;
    font-size: 18px;
}
/* Info end */
/* Block start */
.block-title {
    font-size: 30px;
    margin-bottom: 15px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.block-title .txt-white {
    color: #fff;
}
.block-link {
    display: inline-block;
    margin-bottom: 60px;
    letter-spacing: 0.15em;
    color: #000;
    position: relative;
	cursor: pointer;
	line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
}
.block-link:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #000;
	content: "";
	-webkit-transition: width 0.3s ease-out;
	-o-transition: width 0.3s ease-out;
	transition: width 0.3s ease-out;
}
.block-link:hover {
    -webkit-text-decoration: dashed;
            text-decoration: dashed;
}
.block-link:hover:after,block-link:focus:after {
	width: 100%;
}
/* BLock end */
/* Services start */
.services-item {
    text-decoration: none;
}
.services-item:hover .services-content-item {
    opacity: 1;
}
.services-item:hover .services-content:after {
    opacity: .7;
}
.services-content {
    height: 500px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.services-content:after {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.services-content-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}
.services-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #DB2512;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2  ;
}
.services-txt {
    max-width: 270px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.23em;    
    position: absolute;
    bottom: 20px;
    left: 30px;
    text-transform: uppercase;
}
.services-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.23em;
    color: #000;
    text-transform: uppercase;
}
/* Services end */
/* About start */
.about {
    padding: 115px 0;
    background: #171616;
}
.about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.about-block {
    max-width: 505px;
}
.about-txt {
    margin: 35px 0 40px;
    font-weight: 600;
    color: #B7B7B7;
    letter-spacing: 0.23em;
}
.about-link {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-decoration: underline;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}
.about-link:hover {
    text-decoration: none;
}
.about-img {
    height: 340px;
}
.txt-white {
    color: #fff;
}           
/* About end */
/* Progress start */
.process-title {
    margin-bottom: 50px;
    font-size: 140px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}
.process-subtitle {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
    margin-bottom: 90px;
}
.process-item {
    padding: 30px 30px 15px;
    height: 100%;
    min-height: 150px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);

}
.process {
    padding-top: 50px;
}
.process-item {
    padding: 30px 30px 15px;
    height: 100%;
    min-height: 150px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);

}
/* Progress end */
/* Contacts start */
.contacts {
    margin: 0 auto;
    padding: 100px 0;
    background-color: #171616;
    
}
.contacts .block-title {
    margin-bottom: 40px;
}
.contacts-form {
    max-width: 440px;
}
.form-row {
    margin: 0 -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.form-group {
    padding: 0 20px;
    margin-bottom: 30px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
}
.input {
    width: 100%;
    padding: 9px 0;
    outline: 0;
    border: 0;
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}
.input:focus + .label {
    -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
            transform: translateY(-15px);
    font-size: 12px;
}
.input:not(:-moz-placeholder-shown) + .label {
    transform: translateY(-15px);
    font-size: 12px;
}
.input:not(:-ms-input-placeholder) + .label {
    -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    font-size: 12px;
}
.input:not(:placeholder-shown) + .label {
    -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
            transform: translateY(-15px);
    font-size: 12px;
}
.label {
    letter-spacing: 0.15em;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 20px;
    pointer-events: none;
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    -o-transition: transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
}
input::-webkit-input-placeholder {
    color: transparent;
}
input::-moz-placeholder {
    color: transparent;
}
input:-ms-input-placeholder {
    color: transparent;
}
input::-ms-input-placeholder {
    color: transparent;
}
input::placeholder {
    color: transparent;
}
textarea::-webkit-input-placeholder {
    color: transparent;
}
textarea::-moz-placeholder {
    color: transparent;
}
textarea:-ms-input-placeholder {
    color: transparent;
}
textarea::-ms-input-placeholder {
    color: transparent;
}
textarea::placeholder {
    color: transparent;
}
.textarea {
    min-height: 130px;
    width: 100%;
    padding: 9px 0;
    resize: vertical;
    outline: 0;
    border: 0;
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}
.textarea:focus + .label {
    -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
            transform: translateY(-15px);
    font-size: 12px;
}
.textarea:not(:-moz-placeholder-shown) + .label {
    transform: translateY(-15px);
    font-size: 12px;
}
.textarea:not(:-ms-input-placeholder) + .label {
    -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    font-size: 12px;
}
.textarea:not(:placeholder-shown) + .label {
    -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
            transform: translateY(-15px);
    font-size: 12px;
}
/* Contacts end */
/* Footer start */
.footer-wrapper {
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.copyright {
    letter-spacing: 0.15em;
}
.footer-soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-soc-link {
    margin-right: 20px;
    text-decoration: none;
}
.footer-soc-link :last-child {
    margin-right: 0;
}
.footer-soc-link img {
    height: 25px;
}
/* Footer end */
