.container {
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto ;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.btn {
    min-width: 200px;
    padding: 10px 15px;
    height: 50px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: #DB2512;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: backgroung-color .2s ease;
    cursor: pointer;
    outline: 0;
    border: 0;
}
.btn:hover {
    background-color: #dc311f;
}
/* header start */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.header-wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-block {
    width: 20%;
}
.header-logo {
    display: inline-block;
}
.header-logo-img {
    height: 65px;
}
.nav {
    display: flex;
}
.nav-link {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin-right: 35px;
    position: relative;
}
.nav-link:after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    content:'';
    opacity: 0;
    transition: opacity .2s ease;
}
.nav-link.active::after {
    opacity: 1;
}
.nav-link:hover:after {
    opacity: 1;
}
.nav-link :last-child {
    margin-right: 0;
}
.header-lang {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.header-lang-link {
    margin-right: 8px;
    color: #B7B7B7;
    font-weight: 600;
    text-transform: uppercase;
    transition: color .2s ease;
}
.header-lang-link:hover {
    color: #FFF;
}
.header-lang-link :last-child {
    margin-right: 0;
}
.header-lang-link.active{
    color: white;
}
/* header end */
/* Intro start */
.intro {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.intro:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .2;
    content: '';
}
.intro-content {
    height: 750px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}
.intro-block {
    display: flex;
    flex-direction: column;
}
.intro-title {
    max-width: 790px;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    line-height: 1.5;
    display: inline;
    text-transform: uppercase;
}
/* Intro end */
.section {
    margin-top: 100px;
}
/* Info start */
.info {
    transform: translateY(-50%);
}
.wrapper {
    display: flex;
    margin: 0 -10px;
}
.block {
    width: 33.33%;
    padding: 0 10px;
}
.text-upper {
    text-transform: uppercase;
}
.info-item {
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    padding: 40px 40px 30px;
}
.info-img {
    margin-bottom: 20px;
}
.info-img img {
    height: 30px;
}
.info-title {
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.info-txt {
    color: #B7B7B7;
    font-size: 18px;
}
/* Info end */
/* Block start */
.block-title {
    font-size: 30px;
    margin-bottom: 15px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.block-title .txt-white {
    color: #fff;
}
.block-link {
    display: inline-block;
    margin-bottom: 60px;
    letter-spacing: 0.15em;
    color: #000;
    position: relative;
	cursor: pointer;
	line-height: 1;
    text-transform: uppercase;
}
.block-link:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #000;
	content: "";
	transition: width 0.3s ease-out;
}
.block-link:hover {
    text-decoration: dashed;
}
.block-link:hover:after,block-link:focus:after {
	width: 100%;
}
/* BLock end */
/* Services start */
.services-item:hover .services-content-item {
    opacity: 1;
}
.services-item:hover .services-content:after {
    opacity: .7;
}
.services-content {
    height: 500px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.services-content:after {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.services-content-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    transition: opacity .2s ease;
}
.services-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #DB2512;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2  ;
}
.services-txt {
    max-width: 270px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.23em;    
    position: absolute;
    bottom: 20px;
    left: 30px;
    text-transform: uppercase;
}
.services-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.23em;
    color: #000;
    text-transform: uppercase;
}
/* Services end */
/* About start */
.about {
    padding: 115px 0;
    background: #171616;
}
.about-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-block {
    max-width: 505px;
}
.about-txt {
    margin: 35px 0 40px;
    font-weight: 600;
    color: #B7B7B7;
    letter-spacing: 0.23em;
}
.about-link {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-decoration: underline;
}
.about-link:hover {
    text-decoration: none;
}
.about-img {
    height: 340px;
}
.txt-white {
    color: #fff;
}           
/* About end */
/* Progress start */
.process-title {
    margin-bottom: 50px;
    font-size: 140px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}
.process-subtitle {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
    margin-bottom: 90px;
}
.process-item {
    padding: 30px 30px 15px;
    height: 100%;
    min-height: 150px;
    background: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);

}
.process {
    padding-top: 50px;
}
.process-item {
    padding: 30px 30px 15px;
    height: 100%;
    min-height: 150px;
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);

}
/* Progress end */
/* Contacts start */
.contacts {
    margin: 0 auto;
    padding: 100px 0;
    background-color: #171616;
    
}
.contacts .block-title {
    margin-bottom: 40px;
}
.contacts-form {
    max-width: 440px;
}
.form-row {
    margin: 0 -20px;
    display: flex;
}
.form-group {
    padding: 0 20px;
    margin-bottom: 30px;
    flex: 1;
    position: relative;
}
.input {
    width: 100%;
    padding: 9px 0;
    outline: 0;
    border: 0;
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}
.input:focus + .label {
    transform: translateY(-15px);
    font-size: 12px;
}
.input:not(:placeholder-shown) + .label {
    transform: translateY(-15px);
    font-size: 12px;
}
.label {
    letter-spacing: 0.15em;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 20px;
    pointer-events: none;
    transition: transform .2s ease;
}
.textarea {
    min-height: 130px;
    width: 100%;
    padding: 9px 0;
    resize: vertical;
    outline: 0;
    border: 0;
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}
.textarea:focus + .label {
    transform: translateY(-15px);
    font-size: 12px;
}
.textarea:not(:placeholder-shown) + .label {
    transform: translateY(-15px);
    font-size: 12px;
}
/* Contacts end */
/* Footer start */
.footer-wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright {
    letter-spacing: 0.15em;
}
.footer-soc {
    display: flex;
}
.footer-soc-link {
    margin-right: 20px;
    text-decoration: none;
}
.footer-soc-link :last-child {
    margin-right: 0;
}
.footer-soc-link img {
    height: 25px;
}
/* Footer end */

